*.pyc
*.pkl
*.bin
*.csv
/system1/bit-flip-probability/config.py
/system1/editor-gui/config.py
/system1/evaluation/average-id/config.py
/system1/evaluation/global/config.py
/system1/learning-data-generator/config.py
/system1/statistics/config.py
/system1/straight-filtering/config.py

