*.pyc
*.pkl
*.bin
*.csv
*.json
*.bbb
/system1/bit-flip-probability/config.py
/system1/editor-gui/config.py
/system1/evaluation/average-id/config.py
/system1/evaluation/global/config.py
/system1/learning-data-generator/config.py
/system1/statistics/config.py
/system1/straight-filtering/config.py
/system1/graph-filtering/config.py
/system2/bit-flip-probability/config.py
/system2/editor-gui/config.py
/system2/evaluation/average-id/config.py
/system2/evaluation/global/config.py
/system2/learning-data-generator/config.py
/system2/straight-filtering/config.py
